html {
    background-color: #3c455f;
}

body {
    font-size: 1.4em;
    margin-bottom: 3em;
    margin-top: 160px;
}

code {
    border: none;
}

p {
    margin-bottom: 1.0em;
}

#demo-grid {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 40px;
    margin-right: 40px;
    grid-gap: 1em;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #181a28;
    color: #acacac;
    text-align: center;
    height: 140px;
    z-index: 1;
}

#demo-header {
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #181a28;
    color: #7996a6;
    text-align: center;
}

#demo-animation {
    margin: 1em;
    align-self: center;
    text-align: center;
}

#demo-animation > div {
    background-color: #f08d43;
    width: 60px;
    height: 60px;
    display: inline-block;

    text-align: center;
    line-height: 60px;
    color: white;
    font-size: 1em;
}

.tile {
    border: #f08d43;
    background-color: bisque;
    padding: 2em;
}

.demo-case {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: "description code" ;
    grid-gap: 10px;
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 1.2em;
    }
    .demo-case {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "description"
            "code"
        ;
        grid-gap: 10px;
    }
    #demo-grid {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.code code {
    width: 200px;
}

.code pre {
    padding: 0px;
}

.demo-case > .code {
    grid-area: code;
}

.demo-case > .description {
    grid-area: description;
}


.demo-button-container {
    text-align: center;
}

.demo-button-container > p {
    height: 0.5em;
}

.demo-button-container > button {
    display: inline-block;
}