html {
    background-color: #3c455f;
}

body {
    margin-bottom: 50px;
    margin-top: 300px;
}
code {
    border: none;
}

.anim {
    display: grid;
    grid-gap: 10px;
}

#demo-grid {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    grid-gap: 10px;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #181a28;
    color: #acacac;
    text-align: center;
    z-index: 1;
}

#demo-header {
    text-align: center;
}

#demo-animation > div {
    background-color: #f08d43;
    width: 100px;
    height: 100px;
    display: inline-block;

    text-align: center;
    line-height: 100px;
    color: white;
    font-size: 1.5em;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #181a28;
    color: #7996a6;
    text-align: center;
}

#demo-animation {
    margin: 1em;
    align-self: center;
    text-align: center;
}

.demo-case  code {
    width: 300px;
}

.demo-case {
    grid-column: 2;
    grid-gap: 10px;

    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 100%;
    border: #f08d43;
    background-color: bisque;
    margin-bottom: 4em;
    padding: 1em;
}

.demo-case > div {
    grid-column: 2;
    grid-row: 1;
}
.demo-case > .description {
    margin: 1em;
    grid-column: 1;
    grid-row: 1;
}

.demo-button-container {
    text-align: center;
}

.demo-button-container > p {
    height: 0.5em;
}

.demo-button-container > button {
    display: inline-block;
}